* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.body{
    background-color: #000915;
  
}
.top {
    min-height: 1024px;
    background-image: url(./img_1/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.introduction{
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:32px;
}

.text{
 font-style: normal;
 font-weight: 300;
 font-size: 18px;
 line-height: 32px;
 color: #fffdfd;
 width: 481px;
}

.game-cards {
    display: flex;
    gap: 32px;
    background: #000915;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    padding-bottom: 128px;
}
.for__item{
   width: 379px;
    min-height: 300px;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
    border-radius: 16px;
    background-repeat: no-repeat;
    font-style: normal;
    box-sizing: border-box;
    font-weight: 600;
 font-size: 24px;
 line-height: 32px;
 display: flex;
 color: #FFFFFF;
 text-decoration-line: none;
 align-items: flex-end;
 padding: 32px;
}
.for__item:hover{
   border: 3px solid #44D2FF;
  
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.for__item_1{
    background-image: url(./img_1/Rectangle\ 6.jpg);
}
.for__item_2{
    background-image: url(./img_1/Rectangle\ 7.jpg);
}
.for__item_3{
    background-image: url(./img_1/Rectangle\ 8.jpg);
}

.top_heading{
    font-family: 'Montserrat';
 font-style: normal;
 font-weight: 700;
  font-size: 64px;
 line-height: 78px;
 display: flex;
 align-items: center;
 color: #FFFFFF;
 width: 788px;
}

.button{
    background: #9C0332;
   border-radius: 30px;
   width: 235px;
  height: 49px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
    color: white;
    
}
.button:hover{
    background: #EB443F;
}
.game-1{
    gap: 34px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.game-catalog {
    background: #000915;
    display: flex;
    gap: 134px;
    justify-content: space-between;
    padding-bottom: 85px;
}

.game_heading{
    font-style: normal;
  font-weight: 700;
   font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}

@media (max-width: 767px )  { 
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    .top_heading{
        font-size: 32px;
     line-height: 39px;
     display: flex;
     align-items: center;
     text-align: center;
     width: 100%;

    }
    .text{
        font-size: 14px;
     line-height: 22px;
     text-align: center;
     width: 100%;
    }
    .game-cards{
        display: flex;
        flex-wrap: wrap;
    }
    .introduction{
        align-items: center;
    } 
    .game-catalog{
        display: flex;
        flex-wrap: wrap;
      align-items: center;
       text-align: center;
    }
    .game-1{
        display: flex;
        align-items: center;
       text-align: center;
    }
    .game_heading{
        font-size: 32px;
        line-height: 39px;
    }
    .game-img{
        min-width: 33px;
        width: 344px;
       height: 236px;
    }
 }